:root{
    --primaryColor: #7a63f1;
    --secondaryColor: #ebe8fc;
    --textColor: #a3a3a3;
    --greyColor: #f4f4f4;
    --whiteColor: #f5f4fa;
    --blackColor: #434344;
}

.trending{
    .secContainer{
        .secHeading{
            justify-content: space-between;
            padding: 1rem 0;

            .navBtns{
                gap: .5rem;

                .icon{
                    padding: 3px 5px;
                    background: var(--secondaryColor);
                    border-radius: 3px;
                    font-size: 30px;
                    cursor: pointer;

                    &:hover{
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}